body {
  height: 100%;
  margin: 16px 256px;
  padding: 16px;
  border: black solid 4px;
  border-radius: 10px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px black solid;
  padding-bottom: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button {
  padding: 4px 6px;
  font-weight: bold;
  border-radius: 6px;
}

button:hover {
  background-color: antiquewhite;
}

.history {
  display: flex;
  gap: 56px;
  align-items: center;
}
.game-log,
.computer-choice {
  border-right: 2px solid crimson;
  padding-right: 32px;
}

.game-log {
  align-self: self-start;
}

#score {
  color: crimson;
}
