body {
  margin: 8px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0px;
  margin-bottom: 10px;
  border-bottom: 2px black solid;
  padding-bottom: 8px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

button {
  padding: 4px 6px;
  font-weight: bold;
  border-radius: 6px;
}

.history {
  display: flex;
  gap: 56px;
  align-items: center;
}
.game-log,
p {
  border-right: 2px solid red;
  padding-right: 32px;
}
